@import "./_mixin.scss";

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 30px 60px;

    #header {
        text-align: center;

        h1 {
            @include styled-font($weight: bold, $size: 40pt);
            // font-weight: bold;
            // font-size: 40pt;
        }

    }

    button {
        margin-bottom: 10px;
        padding: 5px;
    }

    #apiDataContainer {
        border: 2px solid black;
        @include styled-font();
        //font-size: 12pt;

        > p {
            padding: 10px;
        }

        > .tweetContainer {

            &:nth-of-type(odd) {
                background-color: #e8f5fd;
            }

            &:nth-of-type(even) {
                background-color: #e9e9e9;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid #d1d2d2;
            }
        }

        .tweetContainer {
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .userDiv {
                text-align: center;
                min-width: 150px;
                height: 100%;
                margin-right: 20px;
    
                img {
                    max-width: 85px;
                    height: auto;
                    margin: 10px 0 5px;
                    border-radius: 40px;
                }
    
                p {
                    margin-bottom: 3px;
                }
    
                .name {
                    @include styled-font($weight: bold);
                    //font-weight: bold;
                }
    
                .handle {
                    @include styled-font($size: 8pt);
                    // font-size: 8pt;
                }
            }

            span {
                display: block;
                //font-size: 8pt;
                margin-bottom: 5px;
                @include styled-font($style: italic, $size: 8pt)
                //font-style: italic;
            }

            a, a:visited {
                color: black;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .tweetContainer {
        flex-direction: column;
    }
}
