* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 2% 5%;
}

#header {
    text-align: center;
}

#header h1 {
    font-weight: bold;
    font-size: 40pt;
}

button {
    margin-bottom: 10px;
}

#apiDataContainer {
    border: 2px solid black;
    font-size: 12pt;
}

#apiDataContainer a:nth-of-type(odd) > div {
    background-color: #e8f5fd;
}

#apiDataContainer a:nth-of-type(even) > div {
    background-color: #e9e9e9;
}

#apiDataContainer a, #apiDataContainer a:visited {
    color: black;
    text-decoration: none;
}

.userDiv {
    float: left;
    text-align: center;
    min-width: 150px;
    height: 100%;
    padding: 0px 30px 0px 20px;
}

.userDiv p {
    margin-bottom: 3px;
}

.name {
    font-weight: bold;
}

.handle {
    font-size: 8pt;
}

.tweetContainer img {
    max-width: 75px;
    height: auto;
    margin: 10px 0px 5px;
    border-radius: 40px;
}

.tweetContainer span {
    display: block;
    font-size: 8pt;
    margin-bottom: 5px;
    font-style: italic;
}

.tweetContainer {
    padding: 10px 0px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#apiDataContainer a:not(:last-of-type) > div {
    border-bottom: 2px solid #d1d2d2;
}
